.big-background {
  background-image: url('~/public/media/images/big-blob.svg');
  background-position: 0 15rem;
  background-repeat: no-repeat;
  background-size: 130%;

  @media (min-width: $width-desktop-small) {
    background-size: 80% auto;
  }
}