/* v1.0.2
Lyttle Defaults ~ Recommended to use with Lyttle Reset:
https://github.com/Stualyttle/LyttleTools/blob/main/CSS/reset.css
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* word-wrap: break-word; */
}

body {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    background: var(--white-100);
}

h1 {
    font-size: 3.052rem;
}

h1:not(:first-child) {
    margin-top: 5rem;
}

h2 {
    font-size: 2.441rem;
    margin-top: 4rem;
}

h3 {
    font-size: 1.953rem;
    margin-top: 2rem;
}

h4 {
    font-size: 1.563rem;
    margin-top: 1rem;
}

h5 {
    font-size: 1.563rem
}

p {
    font-size: 1rem
}

strong, b {
    font-weight: 600;
}

em, i {
    font-style: italic;
}
